[Desktop Entry]
Name={{guiName}}
Exec=/opt/{{name}}/{{name}}
Terminal=false
Icon=/opt/{{name}}/icon.png
Type=Application
Categories={{categories}}
Comment={{description}}
